.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* ==================================================================Shared Style starts*/
  
  main{
        max-width: 1140px;
        margin: 0 auto;
  }

   main section{
    margin-top: 130px;
    margin-bottom: 130px;
  }

  .text-primary{
      color: #FD6E0A;
    }

    .dark-2{
        color: #474747;
    }
      
    .btn-primary{
        background-color: #FD6E0A;
        color: whitesmoke;
        font-weight: bold;
        padding: 18px 35px;
        border-radius: 5px;
        border: none;
    }
    .btn-margin-right{
        margin-left: 30px;
        background-color: transparent;
        color: #FD6E0A;
        box-sizing: border-box;
        border: 1px solid rgb(253, 110, 10);
        border-radius: 5px;
    }

    .section-title{
        font-size:35px;
        font-weight: bold;
        color: #181818;
    }

    .section-description{
        font-size: 18px;
        color: #757575;
    }

    .secondary-bg{
        background-color: #FFF8F3;
    }

    .text-center{
        text-align: center;
    }
    
    /* ==================================================================Shared Style ends */

                                           /* header & Nav starts here*/

header{
    background-image: url("../images/developer.png") , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
   
}

                                           /* Nav styles ends*/
/* ==================================================================Banner Style starts */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 45px 0 200px;
}

.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic{

}

/* ==================================================================About Style starts */


.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-size: 20px;
    font-weight: 700;
    color: #757575;
}

/* ==================================================================Skills Style starts */

.skills-container{
    display: flex;
    gap: 24px;

}

.skills{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

/* ==================================================================Resume Style starts */

.resume-container{
    display: flex;
    gap: 30px;
}
hr{
    width: 558px;
    /* Dark 05 */
   border: 1px solid rgb(209, 209, 209);
}

.experience{
    /* background-color: antiquewhite; */
    width: 511px;
        height: 175px;
        left: 230px;
        right: 859px;
        top: 2604px;
        bottom: 1477px;
    }
    
    
    .column-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}

.experience-title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}

.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}

.experience-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.download-cv-btn{
    text-align: center;
    margin-top: 50px;
}

.btn-cv{
        width: 200px;
        height: 64px;
        border-radius: 5px;
        color: white;
        background: rgb(253, 110, 10);
        font-size: 20px;
        font-weight: 700;
        border: none;
        
    }
    /* ==================================================================Footer Style starts */

    footer{
        width: 100%;
        background: rgb(255, 248, 243);
        display: flex;
        padding: 130px 376px;

    }

    .footer-content{
        width: 562px;

    }

    .img-div img{
        padding-right: 20px;
    }

    input[type=text], input[type=email]{
        border-radius: 5px;
        background: rgb(255, 255, 255);
        width: 461px;
        border: none;
        padding: 20px;
        font-family: Open Sans;
        font-size: 16px;
    }
    .input-form-break{
        margin-bottom: 10px;
    }

    textarea{
        border-radius: 5px;
        background: rgb(255, 255, 255);
        width: 499px;
        border-radius: 5px;
        border: none;
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-size: 16px;
    }

    .submit-btn{
        /* position: absolute; */
        width: 150px;
        height: 64px;
        /* left: 909px;
        right: -909px;
        top: 4062px;
        bottom: -4062px; */
        border-radius: 5px;
        background: rgb(253, 110, 10);
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 700;
        border: none;
        margin-top: 20px;

    }


    
    
    
    
    